In [1]:
pip install GBNN-0.0.2-py3-none-any.whl

Defaulting to user installation because normal site-packages is not writeable
Processing c:\users\ishan\gbnn-0.0.2-py3-none-any.whl
Requirement already satisfied: numpy in c:\users\ishan\appdata\roaming\python\python39\site-packages (from GBNN==0.0.2) (1.22.4)
Requirement already satisfied: scipy in e:\anaconda\lib\site-packages (from GBNN==0.0.2) (1.7.3)
Collecting sklearn (from GBNN==0.0.2)
  Using cached sklearn-0.0.post12.tar.gz (2.6 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'error'
Note: you may need to restart the kernel to use updated packages.

  error: subprocess-exited-with-error

  python setup.py egg_info did not run successfully.
  exit code: 1

  [15 lines of output]
  The 'sklearn' PyPI package is deprecated, use 'scikit-learn'
  rather than 'sklearn' for pip commands.

  Here is how to fix this error in the main use cases:
  - use 'pip install scikit-learn' rather than 'pip install sklearn'
  - replace 'sklearn' by 'scikit-learn' in your pip requirements files
    (requirements.txt, setup.py, setup.cfg, Pipfile, etc ...)
  - if the 'sklearn' package is used by one of your dependencies,
    it would be great if you take some time to track which package uses
    'sklearn' instead of 'scikit-learn' and report it to their issue tracker
  - as a last resort, set the environment variable
    SKLEARN_ALLOW_DEPRECATED_SKLEARN_PACKAGE_INSTALL=True to avoid this error

  More information is available at
  https://github.com/scikit-learn/sklearn-pypi-package
  [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: metadata-generation-failed

Encountered error while generating package metadata.

See above for output.

note: This is an issue with the package mentioned above, not pip.
hint: See above for details.

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd
d1 = pd.read_csv('weatherinfo.csv')

In [3]:
d1.head()

            State  Year  AvgTemp  AvgHumidity  TotalRainfall
0  Andhra Pradesh  2008     27.2           67            950
1  Andhra Pradesh  2009     26.5           64            820
2  Andhra Pradesh  2010     27.8           69           1080
3  Andhra Pradesh  2011     26.9           66            890
4  Andhra Pradesh  2012     27.5           68            980

In [4]:
d1.shape

(405, 5)

In [5]:
d2 = pd.read_csv('crop_yield.csv')

In [6]:
d2

,Crop,Crop_Year,Season,State,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield
0,Arecanut,1997,Whole Year,Assam,73814.0,56708,2051.4,7024878.38,22882.34,0.796087
1,Arhar/Tur,1997,Kharif,Assam,6637.0,4685,2051.4,631643.29,2057.47,0.710435
2,Castor seed,1997,Kharif,Assam,796.0,22,2051.4,75755.32,246.76,0.238333
3,Coconut,1997,Whole Year,Assam,19656.0,126905000,2051.4,1870661.52,6093.36,5238.051739
4,Cotton(lint),1997,Kharif,Assam,1739.0,794,2051.4,165500.63,539.09,0.420909
...,...,...,...,...,...,...,...,...,...,...
19684,Small millets,1998,Kharif,Nagaland,4000.0,2000,1498.0,395200.00,1160.00,0.500000
19685,Wheat,1998,Rabi,Nagaland,1000.0,3000,1498.0,98800.00,290.00,3.000000
19686,Maize,1997,Kharif,Jammu and Kashmir,310883.0,440900,1356.2,29586735.11,96373.73,1.285000
19687,Rice,1997,Kharif,Jammu and Kashmir,275746.0,5488,1356.2,26242746.82,85481.26,0.016667
19688,Wheat,1997,Rabi,Jammu and Kashmir,239344.0,392160,1356.2,22778368.48,74196.64,1.261818

In [7]:
d2['State'] == "Andhra Pradesh"

0        False
1        False
2        False
3        False
4        False
         ...
19684    False
19685    False
19686    False
19687    False
19688    False
Name: State, Length: 19689, dtype: bool

In [8]:
d2.rename(columns = {'Crop_Year':'Year'}, inplace = True)

In [9]:
d2

,Crop,Year,Season,State,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield
0,Arecanut,1997,Whole Year,Assam,73814.0,56708,2051.4,7024878.38,22882.34,0.796087
1,Arhar/Tur,1997,Kharif,Assam,6637.0,4685,2051.4,631643.29,2057.47,0.710435
2,Castor seed,1997,Kharif,Assam,796.0,22,2051.4,75755.32,246.76,0.238333
3,Coconut,1997,Whole Year,Assam,19656.0,126905000,2051.4,1870661.52,6093.36,5238.051739
4,Cotton(lint),1997,Kharif,Assam,1739.0,794,2051.4,165500.63,539.09,0.420909
...,...,...,...,...,...,...,...,...,...,...
19684,Small millets,1998,Kharif,Nagaland,4000.0,2000,1498.0,395200.00,1160.00,0.500000
19685,Wheat,1998,Rabi,Nagaland,1000.0,3000,1498.0,98800.00,290.00,3.000000
19686,Maize,1997,Kharif,Jammu and Kashmir,310883.0,440900,1356.2,29586735.11,96373.73,1.285000
19687,Rice,1997,Kharif,Jammu and Kashmir,275746.0,5488,1356.2,26242746.82,85481.26,0.016667
19688,Wheat,1997,Rabi,Jammu and Kashmir,239344.0,392160,1356.2,22778368.48,74196.64,1.261818

In [11]:
merged_df = d1.merge(d2, how='left', on=['State', 'Year'])

In [12]:
merged_df

,State,Year,AvgTemp,AvgHumidity,TotalRainfall,Crop,Season,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield
0,Andhra Pradesh,2008,27.2,67,950,Arecanut,Whole Year,359.0,265.0,944.6,51351.36,32.31,0.915000
1,Andhra Pradesh,2008,27.2,67,950,Arhar/Tur,Kharif,439248.0,199414.0,944.6,62830033.92,39532.32,0.530909
2,Andhra Pradesh,2008,27.2,67,950,Arhar/Tur,Rabi,3466.0,1942.0,944.6,495776.64,311.94,0.560000
3,Andhra Pradesh,2008,27.2,67,950,Bajra,Kharif,49844.0,51316.0,944.6,7129685.76,4485.96,1.134375
4,Andhra Pradesh,2008,27.2,67,950,Bajra,Rabi,9274.0,8873.0,944.6,1326552.96,834.66,1.187500
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10456,West Bengal,2019,28.4,81,2037,Urad,Rabi,5502.0,5215.0,1733.4,945023.52,2035.74,0.740000
10457,West Bengal,2019,28.4,81,2037,Wheat,Rabi,188308.0,509970.0,1733.4,32343782.08,69673.96,2.647619
10458,West Bengal,2020,29.1,83,2324,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10459,West Bengal,2021,27.7,80,1928,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10460,West Bengal,2022,29.2,82,2297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
merged_df['Crop'].unique()

array(['Arecanut', 'Arhar/Tur', 'Bajra', 'Banana', 'Cashewnut',
       'Castor seed', 'Coconut ', 'Coriander', 'Cotton(lint)',
       'Dry chillies', 'Ginger', 'Gram', 'Groundnut', 'Horse-gram',
       'Jowar', 'Linseed', 'Maize', 'Mesta', 'Moong(Green Gram)',
       'Niger seed', 'Onion', 'Other  Rabi pulses', 'Other Kharif pulses',
       'Potato', 'Ragi', 'Rapeseed &Mustard', 'Rice', 'Safflower',
       'Sesamum', 'Small millets', 'Soyabean', 'Sugarcane', 'Sunflower',
       'Sweet potato', 'Tapioca', 'Tobacco', 'Urad', 'Wheat', 'Garlic',
       'Cowpea(Lobia)', 'other oilseeds', 'Black pepper', 'Sannhamp',
       'Oilseeds total', 'Guar seed', nan, 'Cardamom', 'Turmeric', 'Jute',
       'Masoor', 'Other Cereals', 'Moth', 'Barley',
       'Peas & beans (Pulses)', 'Khesari', 'Other Summer Pulses'],
      dtype=object)

In [13]:
Potato = merged_df[merged_df['Crop'] == 'Potato']

In [16]:
Potato
Potato.to_csv('Potato.csv',index=False)

In [14]:
Onion = merged_df[merged_df['Crop'] == 'Onion']

In [15]:
Onion

,State,Year,AvgTemp,AvgHumidity,TotalRainfall,Crop,Season,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield
28,Andhra Pradesh,2008,27.2,67,950,Onion,Kharif,26723.0,439644.0,944.6,3822457.92,2405.07,15.308889
29,Andhra Pradesh,2008,27.2,67,950,Onion,Rabi,13737.0,289004.0,944.6,1964940.48,1236.33,18.406316
81,Andhra Pradesh,2009,26.5,64,820,Onion,Kharif,22954.0,374804.0,711.0,3576692.28,3902.18,15.856111
82,Andhra Pradesh,2009,26.5,64,820,Onion,Rabi,13608.0,333288.0,711.0,2120398.56,2313.36,25.090526
134,Andhra Pradesh,2010,27.8,69,1080,Onion,Kharif,25612.0,499564.0,1297.0,4254409.32,6146.88,17.786250
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9308,Jammu and Kashmir,2017,16.2,72,1050,Onion,Rabi,552.0,1320.0,1279.1,86906.88,209.76,2.400000
9347,Jammu and Kashmir,2018,16.9,74,1202,Onion,Kharif,17.0,9.0,1016.3,2757.40,5.95,0.500000
9348,Jammu and Kashmir,2018,16.9,74,1202,Onion,Rabi,550.0,1311.0,1016.3,89210.00,192.50,1.992500
9386,Jammu and Kashmir,2019,16.5,73,1137,Onion,Kharif,26.0,13.0,1324.1,4465.76,9.62,0.335000
9387,Jammu and Kashmir,2019,16.5,73,1137,Onion,Rabi,561.0,1342.0,1324.1,96357.36,207.57,2.426667

In [16]:
d2.rename(columns = {'':'Year'}, inplace = True)

In [18]:
import pandas as pd


df.to_csv('Onion.csv', index=False)

In [19]:
rice = merged_df[merged_df['Crop'] == 'Rice']
rice.to_csv('rice.csv',index=False)

In [20]:
Potato.head()

,State,Year,AvgTemp,AvgHumidity,TotalRainfall,Crop,Season,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield
32,Andhra Pradesh,2008,27.2,67,950,Potato,Whole Year,5227.0,50118.0,944.6,747670.08,470.43,9.332000
85,Andhra Pradesh,2009,26.5,64,820,Potato,Whole Year,5040.0,57159.0,711.0,785332.80,856.80,10.294000
138,Andhra Pradesh,2010,27.8,69,1080,Potato,Whole Year,5953.0,66316.0,1297.0,988852.83,1428.72,10.998750
193,Andhra Pradesh,2011,26.9,66,890,Potato,Whole Year,6057.0,60802.0,861.9,1014668.64,1998.81,10.524286
249,Andhra Pradesh,2012,27.5,68,980,Potato,Kharif,267.0,4093.0,968.7,40263.60,82.77,16.335000

In [19]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.preprocessing import MinMaxScaler
# Assuming 'df' is your DataFrame with the provided data
# Columns: State, Year, Avg Temp, Avg Humidity, Total Rainfall, Crop, Season, Area, Production, Annual_Rainfall, Fertilizer, Pesticide, Yield

# Select relevant features for training
features = ['AvgTemp', 'AvgHumidity', 'Annual_Rainfall','Fertilizer','Pesticide']

# Extract features and target variable
X = df[features]
y = df['Yield']

# Normalize numerical features
scaler = StandardScaler()
X[features] = scaler.fit_transform(X[features])

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X.values, y.values, test_size=0.2, random_state=42)

# Build and train a simple feedforward neural network model
model = Sequential()
model.add(Dense(100, activation='relu', input_dim=len(features)))
model.add(Dense(50, activation='relu'))
model.add(Dense(1))

model.compile(optimizer='adam', loss='mean_squared_error')

model.fit(X_train, y_train, epochs=150, batch_size=100, validation_data=(X_test, y_test))

y_pred = model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error on Test Data: {mse:.2f}")

# Display some predictions and actual values
for i in range(10):  # Displaying first 10 predictions for illustration
    print(f"Prediction: {y_pred[i][0]:.2f}, Actual: {y_test[i]:.2f}")

C:\Users\ishan\AppData\Local\Temp\ipykernel_1460\827852242.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[features] = scaler.fit_transform(X[features])

Epoch 1/150
3/3 [==============================] - 1s 171ms/step - loss: 1324.7303 - val_loss: 219.3303
Epoch 2/150
3/3 [==============================] - 0s 30ms/step - loss: 1319.4064 - val_loss: 215.3070
Epoch 3/150
3/3 [==============================] - 0s 30ms/step - loss: 1314.0090 - val_loss: 211.4742
Epoch 4/150
3/3 [==============================] - 0s 30ms/step - loss: 1308.8574 - val_loss: 207.6896
Epoch 5/150
3/3 [==============================] - 0s 33ms/step - loss: 1303.9036 - val_loss: 203.8666
Epoch 6/150
3/3 [==============================] - 0s 34ms/step - loss: 1298.7653 - val_loss: 200.0454
Epoch 7/150
3/3 [==============================] - 0s 32ms/step - loss: 1293.8627 - val_loss: 196.1260
Epoch 8/150
3/3 [==============================] - 0s 33ms/step - loss: 1288.1495 - val_loss: 192.0422
Epoch 9/150
3/3 [==============================] - 0s 33ms/step - loss: 1282.6155 - val_loss: 187.6357
Epoch 10/150
3/3 [==============================] - 0s 45ms/step - loss: 1276.2034 - val_loss: 182.9864
Epoch 11/150
3/3 [==============================] - 0s 31ms/step - loss: 1269.2594 - val_loss: 178.0743
Epoch 12/150
3/3 [==============================] - 0s 33ms/step - loss: 1261.8657 - val_loss: 172.8489
Epoch 13/150
3/3 [==============================] - 0s 34ms/step - loss: 1254.2429 - val_loss: 167.2862
Epoch 14/150
3/3 [==============================] - 0s 32ms/step - loss: 1245.6775 - val_loss: 161.5531
Epoch 15/150
3/3 [==============================] - 0s 30ms/step - loss: 1236.9384 - val_loss: 155.6112
Epoch 16/150
3/3 [==============================] - 0s 29ms/step - loss: 1228.1053 - val_loss: 149.4442
Epoch 17/150
3/3 [==============================] - 0s 30ms/step - loss: 1217.4575 - val_loss: 143.1766
Epoch 18/150
3/3 [==============================] - 0s 31ms/step - loss: 1207.7092 - val_loss: 136.6391
Epoch 19/150
3/3 [==============================] - 0s 32ms/step - loss: 1196.3293 - val_loss: 129.9986
Epoch 20/150
3/3 [==============================] - 0s 33ms/step - loss: 1185.4264 - val_loss: 123.1293
Epoch 21/150
3/3 [==============================] - 0s 33ms/step - loss: 1173.3824 - val_loss: 116.4033
Epoch 22/150
3/3 [==============================] - 0s 32ms/step - loss: 1161.7460 - val_loss: 109.8846
Epoch 23/150
3/3 [==============================] - 0s 35ms/step - loss: 1148.2622 - val_loss: 103.5824
Epoch 24/150
3/3 [==============================] - 0s 34ms/step - loss: 1137.2905 - val_loss: 97.2800
Epoch 25/150
3/3 [==============================] - 0s 35ms/step - loss: 1125.3816 - val_loss: 91.3626
Epoch 26/150
3/3 [==============================] - 0s 35ms/step - loss: 1111.5760 - val_loss: 85.7077
Epoch 27/150
3/3 [==============================] - 0s 34ms/step - loss: 1100.4170 - val_loss: 80.3733
Epoch 28/150
3/3 [==============================] - 0s 39ms/step - loss: 1089.3071 - val_loss: 75.8255
Epoch 29/150
3/3 [==============================] - 0s 35ms/step - loss: 1077.0111 - val_loss: 72.1766
Epoch 30/150
3/3 [==============================] - 0s 36ms/step - loss: 1067.7942 - val_loss: 69.2830
Epoch 31/150
3/3 [==============================] - 0s 36ms/step - loss: 1058.5061 - val_loss: 67.1820
Epoch 32/150
3/3 [==============================] - 0s 33ms/step - loss: 1050.1978 - val_loss: 66.1416
Epoch 33/150
3/3 [==============================] - 0s 33ms/step - loss: 1042.7144 - val_loss: 65.8494
Epoch 34/150
3/3 [==============================] - 0s 34ms/step - loss: 1036.2357 - val_loss: 65.9215
Epoch 35/150
3/3 [==============================] - 0s 33ms/step - loss: 1030.0050 - val_loss: 66.2647
Epoch 36/150
3/3 [==============================] - 0s 30ms/step - loss: 1025.5410 - val_loss: 66.8749
Epoch 37/150
3/3 [==============================] - 0s 30ms/step - loss: 1021.8077 - val_loss: 67.6243
Epoch 38/150
3/3 [==============================] - 0s 34ms/step - loss: 1019.2331 - val_loss: 68.4697
Epoch 39/150
3/3 [==============================] - 0s 31ms/step - loss: 1016.0392 - val_loss: 69.0472
Epoch 40/150
3/3 [==============================] - 0s 32ms/step - loss: 1014.3668 - val_loss: 69.8644
Epoch 41/150
3/3 [==============================] - 0s 30ms/step - loss: 1011.9530 - val_loss: 70.2107
Epoch 42/150
3/3 [==============================] - 0s 30ms/step - loss: 1010.8676 - val_loss: 70.7382
Epoch 43/150
3/3 [==============================] - 0s 31ms/step - loss: 1009.2857 - val_loss: 70.5412
Epoch 44/150
3/3 [==============================] - 0s 34ms/step - loss: 1008.5024 - val_loss: 70.6747
Epoch 45/150
3/3 [==============================] - 0s 35ms/step - loss: 1007.0683 - val_loss: 70.8811
Epoch 46/150
3/3 [==============================] - 0s 32ms/step - loss: 1005.3479 - val_loss: 73.2416
Epoch 47/150
3/3 [==============================] - 0s 30ms/step - loss: 1003.9340 - val_loss: 77.3613
Epoch 48/150
3/3 [==============================] - 0s 32ms/step - loss: 1003.3746 - val_loss: 81.9236
Epoch 49/150
3/3 [==============================] - 0s 31ms/step - loss: 1002.3170 - val_loss: 86.2365
Epoch 50/150
3/3 [==============================] - 0s 33ms/step - loss: 1002.8160 - val_loss: 89.7273
Epoch 51/150
3/3 [==============================] - 0s 31ms/step - loss: 1002.5976 - val_loss: 91.6980
Epoch 52/150
3/3 [==============================] - 0s 29ms/step - loss: 1002.7792 - val_loss: 96.0486
Epoch 53/150
3/3 [==============================] - 0s 30ms/step - loss: 1002.5853 - val_loss: 98.1777
Epoch 54/150
3/3 [==============================] - 0s 34ms/step - loss: 1003.0193 - val_loss: 101.7148
Epoch 55/150
3/3 [==============================] - 0s 29ms/step - loss: 1003.0296 - val_loss: 103.9135
Epoch 56/150
3/3 [==============================] - 0s 31ms/step - loss: 1003.2477 - val_loss: 105.6825
Epoch 57/150
3/3 [==============================] - 0s 28ms/step - loss: 1003.6637 - val_loss: 108.6199
Epoch 58/150
3/3 [==============================] - 0s 32ms/step - loss: 1004.0074 - val_loss: 108.4615
Epoch 59/150
3/3 [==============================] - 0s 34ms/step - loss: 1003.9481 - val_loss: 106.3162
Epoch 60/150
3/3 [==============================] - 0s 29ms/step - loss: 1002.4586 - val_loss: 107.5340
Epoch 61/150
3/3 [==============================] - 0s 34ms/step - loss: 1003.4953 - val_loss: 109.7207
Epoch 62/150
3/3 [==============================] - 0s 32ms/step - loss: 1002.7745 - val_loss: 107.7973
Epoch 63/150
3/3 [==============================] - 0s 30ms/step - loss: 1002.3048 - val_loss: 104.8481
Epoch 64/150
3/3 [==============================] - 0s 35ms/step - loss: 1000.8261 - val_loss: 103.1008
Epoch 65/150
3/3 [==============================] - 0s 35ms/step - loss: 1000.1325 - val_loss: 99.0370
Epoch 66/150
3/3 [==============================] - 0s 32ms/step - loss: 998.5958 - val_loss: 94.9093
Epoch 67/150
3/3 [==============================] - 0s 33ms/step - loss: 997.0392 - val_loss: 91.2391
Epoch 68/150
3/3 [==============================] - 0s 33ms/step - loss: 995.8972 - val_loss: 86.7161
Epoch 69/150
3/3 [==============================] - 0s 36ms/step - loss: 995.3729 - val_loss: 82.1432
Epoch 70/150
3/3 [==============================] - 0s 33ms/step - loss: 994.5593 - val_loss: 78.7071
Epoch 71/150
3/3 [==============================] - 0s 33ms/step - loss: 994.4160 - val_loss: 76.0937
Epoch 72/150
3/3 [==============================] - 0s 32ms/step - loss: 994.7384 - val_loss: 74.4883
Epoch 73/150
3/3 [==============================] - 0s 35ms/step - loss: 993.8050 - val_loss: 74.9836
Epoch 74/150
3/3 [==============================] - 0s 31ms/step - loss: 993.5925 - val_loss: 75.6083
Epoch 75/150
3/3 [==============================] - 0s 32ms/step - loss: 992.9691 - val_loss: 77.8707
Epoch 76/150
3/3 [==============================] - 0s 35ms/step - loss: 993.3224 - val_loss: 80.1376
Epoch 77/150
3/3 [==============================] - 0s 32ms/step - loss: 993.1336 - val_loss: 81.6446
Epoch 78/150
3/3 [==============================] - 0s 36ms/step - loss: 992.8110 - val_loss: 81.4322
Epoch 79/150
3/3 [==============================] - 0s 32ms/step - loss: 992.6447 - val_loss: 80.7801
Epoch 80/150
3/3 [==============================] - 0s 32ms/step - loss: 992.2950 - val_loss: 80.2926
Epoch 81/150
3/3 [==============================] - 0s 31ms/step - loss: 991.8637 - val_loss: 79.3598
Epoch 82/150
3/3 [==============================] - 0s 35ms/step - loss: 991.7920 - val_loss: 78.0252
Epoch 83/150
3/3 [==============================] - 0s 31ms/step - loss: 991.3861 - val_loss: 77.5373
Epoch 84/150
3/3 [==============================] - 0s 33ms/step - loss: 990.9799 - val_loss: 76.5789
Epoch 85/150
3/3 [==============================] - 0s 33ms/step - loss: 990.9507 - val_loss: 74.8593
Epoch 86/150
3/3 [==============================] - 0s 35ms/step - loss: 990.4637 - val_loss: 73.6412
Epoch 87/150
3/3 [==============================] - 0s 34ms/step - loss: 990.4372 - val_loss: 71.7702
Epoch 88/150
3/3 [==============================] - 0s 32ms/step - loss: 990.6284 - val_loss: 70.0390
Epoch 89/150
3/3 [==============================] - 0s 33ms/step - loss: 990.1569 - val_loss: 68.9036
Epoch 90/150
3/3 [==============================] - 0s 31ms/step - loss: 990.8455 - val_loss: 68.3937
Epoch 91/150
3/3 [==============================] - 0s 32ms/step - loss: 990.3763 - val_loss: 70.5346
Epoch 92/150
3/3 [==============================] - 0s 32ms/step - loss: 989.6734 - val_loss: 71.6961
Epoch 93/150
3/3 [==============================] - 0s 32ms/step - loss: 989.5027 - val_loss: 72.2406
Epoch 94/150
3/3 [==============================] - 0s 32ms/step - loss: 989.1682 - val_loss: 72.4412
Epoch 95/150
3/3 [==============================] - 0s 33ms/step - loss: 989.0717 - val_loss: 72.9647
Epoch 96/150
3/3 [==============================] - 0s 33ms/step - loss: 988.7396 - val_loss: 72.6632
Epoch 97/150
3/3 [==============================] - 0s 34ms/step - loss: 988.5872 - val_loss: 71.5971
Epoch 98/150
3/3 [==============================] - 0s 35ms/step - loss: 988.4091 - val_loss: 70.3272
Epoch 99/150
3/3 [==============================] - 0s 30ms/step - loss: 988.0410 - val_loss: 69.2406
Epoch 100/150
3/3 [==============================] - 0s 34ms/step - loss: 987.9427 - val_loss: 68.3183
Epoch 101/150
3/3 [==============================] - 0s 31ms/step - loss: 988.2256 - val_loss: 68.4524
Epoch 102/150
3/3 [==============================] - 0s 34ms/step - loss: 987.4201 - val_loss: 71.0557
Epoch 103/150
3/3 [==============================] - 0s 36ms/step - loss: 986.7874 - val_loss: 73.8074
Epoch 104/150
3/3 [==============================] - 0s 32ms/step - loss: 986.3166 - val_loss: 76.9666
Epoch 105/150
3/3 [==============================] - 0s 32ms/step - loss: 987.3383 - val_loss: 81.1950
Epoch 106/150
3/3 [==============================] - 0s 32ms/step - loss: 987.4571 - val_loss: 83.1436
Epoch 107/150
3/3 [==============================] - 0s 34ms/step - loss: 987.1093 - val_loss: 82.7443
Epoch 108/150
3/3 [==============================] - 0s 33ms/step - loss: 986.8148 - val_loss: 82.2240
Epoch 109/150
3/3 [==============================] - 0s 31ms/step - loss: 986.4227 - val_loss: 81.3575
Epoch 110/150
3/3 [==============================] - 0s 34ms/step - loss: 986.3364 - val_loss: 80.5279
Epoch 111/150
3/3 [==============================] - 0s 31ms/step - loss: 985.9995 - val_loss: 81.9757
Epoch 112/150
3/3 [==============================] - 0s 35ms/step - loss: 985.5919 - val_loss: 82.7118
Epoch 113/150
3/3 [==============================] - 0s 35ms/step - loss: 985.5476 - val_loss: 82.7962
Epoch 114/150
3/3 [==============================] - 0s 30ms/step - loss: 985.3331 - val_loss: 82.1297
Epoch 115/150
3/3 [==============================] - 0s 34ms/step - loss: 984.9738 - val_loss: 80.4910
Epoch 116/150
3/3 [==============================] - 0s 34ms/step - loss: 984.3673 - val_loss: 78.5647
Epoch 117/150
3/3 [==============================] - 0s 33ms/step - loss: 984.0178 - val_loss: 76.3568
Epoch 118/150
3/3 [==============================] - 0s 32ms/step - loss: 983.4127 - val_loss: 74.5450
Epoch 119/150
3/3 [==============================] - 0s 33ms/step - loss: 983.3778 - val_loss: 72.3018
Epoch 120/150
3/3 [==============================] - 0s 35ms/step - loss: 983.2417 - val_loss: 70.3965
Epoch 121/150
3/3 [==============================] - 0s 34ms/step - loss: 982.9125 - val_loss: 68.9982
Epoch 122/150
3/3 [==============================] - 0s 49ms/step - loss: 982.7168 - val_loss: 68.0619
Epoch 123/150
3/3 [==============================] - 0s 38ms/step - loss: 982.9174 - val_loss: 66.9700
Epoch 124/150
3/3 [==============================] - 0s 32ms/step - loss: 982.7938 - val_loss: 66.0981
Epoch 125/150
3/3 [==============================] - 0s 32ms/step - loss: 982.4843 - val_loss: 65.8061
Epoch 126/150
3/3 [==============================] - 0s 36ms/step - loss: 982.3434 - val_loss: 65.5943
Epoch 127/150
3/3 [==============================] - 0s 35ms/step - loss: 982.1355 - val_loss: 65.6179
Epoch 128/150
3/3 [==============================] - 0s 35ms/step - loss: 981.9095 - val_loss: 65.3185
Epoch 129/150
3/3 [==============================] - 0s 33ms/step - loss: 981.7661 - val_loss: 64.9748
Epoch 130/150
3/3 [==============================] - 0s 35ms/step - loss: 981.8395 - val_loss: 64.1935
Epoch 131/150
3/3 [==============================] - 0s 35ms/step - loss: 981.5790 - val_loss: 63.8833
Epoch 132/150
3/3 [==============================] - 0s 36ms/step - loss: 981.7037 - val_loss: 64.4866
Epoch 133/150
3/3 [==============================] - 0s 35ms/step - loss: 981.2926 - val_loss: 67.6664
Epoch 134/150
3/3 [==============================] - 0s 36ms/step - loss: 980.3726 - val_loss: 69.8702
Epoch 135/150
3/3 [==============================] - 0s 35ms/step - loss: 980.4540 - val_loss: 71.6762
Epoch 136/150
3/3 [==============================] - 0s 33ms/step - loss: 979.8970 - val_loss: 73.1861
Epoch 137/150
3/3 [==============================] - 0s 33ms/step - loss: 979.3010 - val_loss: 75.3159
Epoch 138/150
3/3 [==============================] - 0s 34ms/step - loss: 980.1906 - val_loss: 79.0131
Epoch 139/150
3/3 [==============================] - 0s 35ms/step - loss: 979.4681 - val_loss: 80.7097
Epoch 140/150
3/3 [==============================] - 0s 35ms/step - loss: 979.5774 - val_loss: 80.8755
Epoch 141/150
3/3 [==============================] - 0s 32ms/step - loss: 979.1287 - val_loss: 80.1810
Epoch 142/150
3/3 [==============================] - 0s 36ms/step - loss: 978.7839 - val_loss: 79.5278
Epoch 143/150
3/3 [==============================] - 0s 32ms/step - loss: 978.4047 - val_loss: 79.1804
Epoch 144/150
3/3 [==============================] - 0s 34ms/step - loss: 977.9287 - val_loss: 77.9524
Epoch 145/150
3/3 [==============================] - 0s 38ms/step - loss: 977.3016 - val_loss: 76.5056
Epoch 146/150
3/3 [==============================] - 0s 37ms/step - loss: 977.6273 - val_loss: 75.2445
Epoch 147/150
3/3 [==============================] - 0s 40ms/step - loss: 976.9982 - val_loss: 76.8293
Epoch 148/150
3/3 [==============================] - 0s 37ms/step - loss: 976.6246 - val_loss: 77.1923
Epoch 149/150
3/3 [==============================] - 0s 41ms/step - loss: 976.2178 - val_loss: 76.2817
Epoch 150/150
3/3 [==============================] - 0s 36ms/step - loss: 975.8218 - val_loss: 75.1580
2/2 [==============================] - 0s 6ms/step

NameError: name 'mean_squared_error' is not defined

In [123]:
evaluation = model.evaluate(X_test, y_test)

2/2 [==============================] - 0s 6ms/step - loss: 65.6738

In [124]:
X_predict = df[features].head()

In [125]:
df

,State,Year,AvgTemp,AvgHumidity,TotalRainfall,Crop,Season,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield
28,Andhra Pradesh,2008,27.2,67,950,Onion,Kharif,26723.0,439644.0,944.6,3822457.92,2405.07,15.308889
29,Andhra Pradesh,2008,27.2,67,950,Onion,Rabi,13737.0,289004.0,944.6,1964940.48,1236.33,18.406316
81,Andhra Pradesh,2009,26.5,64,820,Onion,Kharif,22954.0,374804.0,711.0,3576692.28,3902.18,15.856111
82,Andhra Pradesh,2009,26.5,64,820,Onion,Rabi,13608.0,333288.0,711.0,2120398.56,2313.36,25.090526
134,Andhra Pradesh,2010,27.8,69,1080,Onion,Kharif,25612.0,499564.0,1297.0,4254409.32,6146.88,17.786250
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9308,Jammu and Kashmir,2017,16.2,72,1050,Onion,Rabi,552.0,1320.0,1279.1,86906.88,209.76,2.400000
9347,Jammu and Kashmir,2018,16.9,74,1202,Onion,Kharif,17.0,9.0,1016.3,2757.40,5.95,0.500000
9348,Jammu and Kashmir,2018,16.9,74,1202,Onion,Rabi,550.0,1311.0,1016.3,89210.00,192.50,1.992500
9386,Jammu and Kashmir,2019,16.5,73,1137,Onion,Kharif,26.0,13.0,1324.1,4465.76,9.62,0.335000
9387,Jammu and Kashmir,2019,16.5,73,1137,Onion,Rabi,561.0,1342.0,1324.1,96357.36,207.57,2.426667

In [126]:
X_predict

     AvgTemp  AvgHumidity  Annual_Rainfall  Fertilizer  Pesticide
28      27.2           67            944.6  3822457.92    2405.07
29      27.2           67            944.6  1964940.48    1236.33
81      26.5           64            711.0  3576692.28    3902.18
82      26.5           64            711.0  2120398.56    2313.36
134     27.8           69           1297.0  4254409.32    6146.88

In [127]:
X_predict[features] = scaler.transform(X_predict[features])
predictions = model.predict(X_predict.values)

1/1 [==============================] - 0s 94ms/step

In [128]:
predictions

array([[20.684021],
       [21.446783],
       [29.526808],
       [29.900808],
       [16.384277]], dtype=float32)

In [130]:
import tensorflow as tf
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Input, Conv1D, LSTM, Dense, Concatenate, Flatten

# Assuming 'df' is your DataFrame with the provided data
# Columns: AvgTemp, AvgHumidity, Annual_Rainfall, Fertilizer, Pesticide, Yield

# Select relevant features for training
weather_features = ['AvgTemp', 'AvgHumidity', 'Annual_Rainfall']
soil_features = ['Fertilizer', 'Pesticide']

# Extract features and target variable
X_weather = df[weather_features].values
X_soil = df[soil_features].values
y = df['Yield'].values

# Normalize numerical features if needed
# Use your preferred normalization method or StandardScaler

# Define W-CNN model for weather data
input_weather = Input(shape=(X_weather.shape[1], 1))
conv1d_weather = Conv1D(32, kernel_size=3, activation='relu')(input_weather)
flatten_weather = Flatten()(conv1d_weather)

# Define RNN model for time dependencies
input_rnn = Input(shape=(5, X_weather.shape[1]))  # Assuming a 5-year time length
lstm_rnn = LSTM(64)(input_rnn)

# Combine features from W-CNN and RNN
concatenated_features = Concatenate()([flatten_weather, lstm_rnn])

# Fully connected layer for feature combination
fc_layer = Dense(64, activation='relu')(concatenated_features)

# Output layer for yield prediction
output_layer = Dense(1, activation='linear')(fc_layer)

# Create the model
model = Model(inputs=[input_weather, input_rnn], outputs=output_layer)

# Compile the model
model.compile(optimizer='adam', loss='mean_squared_error')

# Display the model summary
model.summary()

Model: "model"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 input_2 (InputLayer)           [(None, 3, 1)]       0           []

 conv1d_1 (Conv1D)              (None, 1, 32)        128         ['input_2[0][0]']

 input_3 (InputLayer)           [(None, 5, 3)]       0           []

 flatten (Flatten)              (None, 32)           0           ['conv1d_1[0][0]']

 lstm_1 (LSTM)                  (None, 64)           17408       ['input_3[0][0]']

 concatenate (Concatenate)      (None, 96)           0           ['flatten[0][0]',
                                                                  'lstm_1[0][0]']

 dense_30 (Dense)               (None, 64)           6208        ['concatenate[0][0]']

 dense_31 (Dense)               (None, 1)            65          ['dense_30[0][0]']

==================================================================================================
Total params: 23,809
Trainable params: 23,809
Non-trainable params: 0
__________________________________________________________________________________________________

In [136]:
# Assuming 'model' is your trained CNN-RNN model

# Create sample input for testing
sample_weather_data = np.array([[27.2, 67.0, 950.0]])  # Replace with your actual values
sample_soil_data = np.array([[3822457.92, 2405.07]])  # Replace with your actual values
sample_rnn_data = np.random.rand(1, 5, X_weather.shape[1])  # Random 5-year time sequence

# Normalize input data if needed
# Use the same normalization method that was used during training

# Perform the prediction
prediction = model.predict([sample_weather_data, sample_rnn_data])

# Display the prediction result
print("Predicted Yield:", prediction[0])

1/1 [==============================] - 0s 44ms/step
Predicted Yield: [13.748356]

In [135]:
df

,State,Year,AvgTemp,AvgHumidity,TotalRainfall,Crop,Season,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield
28,Andhra Pradesh,2008,27.2,67,950,Onion,Kharif,26723.0,439644.0,944.6,3822457.92,2405.07,15.308889
29,Andhra Pradesh,2008,27.2,67,950,Onion,Rabi,13737.0,289004.0,944.6,1964940.48,1236.33,18.406316
81,Andhra Pradesh,2009,26.5,64,820,Onion,Kharif,22954.0,374804.0,711.0,3576692.28,3902.18,15.856111
82,Andhra Pradesh,2009,26.5,64,820,Onion,Rabi,13608.0,333288.0,711.0,2120398.56,2313.36,25.090526
134,Andhra Pradesh,2010,27.8,69,1080,Onion,Kharif,25612.0,499564.0,1297.0,4254409.32,6146.88,17.786250
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9308,Jammu and Kashmir,2017,16.2,72,1050,Onion,Rabi,552.0,1320.0,1279.1,86906.88,209.76,2.400000
9347,Jammu and Kashmir,2018,16.9,74,1202,Onion,Kharif,17.0,9.0,1016.3,2757.40,5.95,0.500000
9348,Jammu and Kashmir,2018,16.9,74,1202,Onion,Rabi,550.0,1311.0,1016.3,89210.00,192.50,1.992500
9386,Jammu and Kashmir,2019,16.5,73,1137,Onion,Kharif,26.0,13.0,1324.1,4465.76,9.62,0.335000
9387,Jammu and Kashmir,2019,16.5,73,1137,Onion,Rabi,561.0,1342.0,1324.1,96357.36,207.57,2.426667

In [151]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
import tensorflow as tf
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Input, Conv1D, Dense, Flatten

# Assuming 'df' is your DataFrame with the provided data
# Columns: AvgTemp, AvgHumidity, Annual_Rainfall, Fertilizer, Pesticide, Yield

# Select relevant features for training
weather_features = ['AvgTemp', 'AvgHumidity', 'Annual_Rainfall']
soil_features = ['Fertilizer', 'Pesticide']

# Extract features and target variable
X_weather = df[weather_features].values
X_soil = df[soil_features].values
y = df['Yield'].values

# Normalize numerical features
scaler = StandardScaler()
X_weather = scaler.fit_transform(X_weather)
X_soil = scaler.fit_transform(X_soil)

# Split data into training and testing sets
X_train_weather, X_test_weather, X_train_soil, X_test_soil, y_train, y_test = train_test_split(
    X_weather, X_soil, y, test_size=0.2, random_state=42
)

# Define W-CNN model for weather data
input_weather = Input(shape=(X_train_weather.shape[1], 1))
conv1d_weather = Conv1D(32, kernel_size=3, activation='relu')(input_weather)
flatten_weather = Flatten()(conv1d_weather)

# Define CNN model for soil data
input_soil = Input(shape=(X_train_soil.shape[1], 1))
conv1d_soil = Conv1D(32, kernel_size=2, activation='relu')(input_soil)
flatten_soil = Flatten()(conv1d_soil)

# Combine features from W-CNN and S-CNN
concatenated_features = tf.keras.layers.concatenate([flatten_weather, flatten_soil])

# Fully connected layer for feature combination
fc_layer = Dense(64, activation='relu')(concatenated_features)

# Output layer for yield prediction
output_layer = Dense(1, activation='linear')(fc_layer)

# Create the model
model = Model(inputs=[input_weather, input_soil], outputs=output_layer)

# Compile the model
optimizer = tf.keras.optimizers.Adam(learning_rate=0.001)
model.compile(optimizer=optimizer, loss='mean_squared_error')

# Display the model summary
model.summary()

# Train the model
model.fit([X_train_weather, X_train_soil], y_train, epochs=50, batch_size=32, validation_split=0.2)

# Test the model
y_pred = model.predict([X_test_weather, X_test_soil])

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error on Test Data: {mse:.2f}")

# Display some predictions and actual values
for i in range(10):  # Displaying first 10 predictions for illustration
    print(f"Prediction: {y_pred[i][0]:.2f}, Actual: {y_test[i]:.2f}")

Model: "model_5"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 input_14 (InputLayer)          [(None, 3, 1)]       0           []

 input_15 (InputLayer)          [(None, 2, 1)]       0           []

 conv1d_12 (Conv1D)             (None, 1, 32)        128         ['input_14[0][0]']

 conv1d_13 (Conv1D)             (None, 1, 32)        96          ['input_15[0][0]']

 flatten_10 (Flatten)           (None, 32)           0           ['conv1d_12[0][0]']

 flatten_11 (Flatten)           (None, 32)           0           ['conv1d_13[0][0]']

 concatenate_5 (Concatenate)    (None, 64)           0           ['flatten_10[0][0]',
                                                                  'flatten_11[0][0]']

 dense_40 (Dense)               (None, 64)           4160        ['concatenate_5[0][0]']

 dense_41 (Dense)               (None, 1)            65          ['dense_40[0][0]']

==================================================================================================
Total params: 4,449
Trainable params: 4,449
Non-trainable params: 0
__________________________________________________________________________________________________
Epoch 1/50
6/6 [==============================] - 1s 69ms/step - loss: 1212.1908 - val_loss: 1711.0922
Epoch 2/50
6/6 [==============================] - 0s 16ms/step - loss: 1206.7433 - val_loss: 1703.7501
Epoch 3/50
6/6 [==============================] - 0s 18ms/step - loss: 1200.4360 - val_loss: 1696.0486
Epoch 4/50
6/6 [==============================] - 0s 19ms/step - loss: 1194.3848 - val_loss: 1687.2771
Epoch 5/50
6/6 [==============================] - 0s 21ms/step - loss: 1187.2478 - val_loss: 1677.0007
Epoch 6/50
6/6 [==============================] - 0s 22ms/step - loss: 1178.1100 - val_loss: 1665.1519
Epoch 7/50
6/6 [==============================] - 0s 21ms/step - loss: 1169.3517 - val_loss: 1651.2651
Epoch 8/50
6/6 [==============================] - 0s 22ms/step - loss: 1158.4806 - val_loss: 1635.5970
Epoch 9/50
6/6 [==============================] - 0s 18ms/step - loss: 1144.6702 - val_loss: 1618.7031
Epoch 10/50
6/6 [==============================] - 0s 18ms/step - loss: 1130.8761 - val_loss: 1599.7170
Epoch 11/50
6/6 [==============================] - 0s 20ms/step - loss: 1114.7533 - val_loss: 1579.4719
Epoch 12/50
6/6 [==============================] - 0s 18ms/step - loss: 1096.0994 - val_loss: 1558.5876
Epoch 13/50
6/6 [==============================] - 0s 17ms/step - loss: 1079.0234 - val_loss: 1536.6246
Epoch 14/50
6/6 [==============================] - 0s 19ms/step - loss: 1060.5703 - val_loss: 1514.6899
Epoch 15/50
6/6 [==============================] - 0s 22ms/step - loss: 1041.7529 - val_loss: 1494.3036
Epoch 16/50
6/6 [==============================] - 0s 18ms/step - loss: 1027.4326 - val_loss: 1473.4337
Epoch 17/50
6/6 [==============================] - 0s 17ms/step - loss: 1006.9745 - val_loss: 1456.5437
Epoch 18/50
6/6 [==============================] - 0s 21ms/step - loss: 993.9790 - val_loss: 1439.7377
Epoch 19/50
6/6 [==============================] - 0s 17ms/step - loss: 979.2705 - val_loss: 1427.1335
Epoch 20/50
6/6 [==============================] - 0s 21ms/step - loss: 969.6303 - val_loss: 1415.9786
Epoch 21/50
6/6 [==============================] - 0s 19ms/step - loss: 962.7641 - val_loss: 1407.4524
Epoch 22/50
6/6 [==============================] - 0s 20ms/step - loss: 954.2424 - val_loss: 1402.3015
Epoch 23/50
6/6 [==============================] - 0s 18ms/step - loss: 949.4813 - val_loss: 1398.5016
Epoch 24/50
6/6 [==============================] - 0s 19ms/step - loss: 944.0170 - val_loss: 1396.2643
Epoch 25/50
6/6 [==============================] - 0s 19ms/step - loss: 938.9496 - val_loss: 1395.2948
Epoch 26/50
6/6 [==============================] - 0s 18ms/step - loss: 935.7979 - val_loss: 1394.7168
Epoch 27/50
6/6 [==============================] - 0s 19ms/step - loss: 933.6127 - val_loss: 1392.7238
Epoch 28/50
6/6 [==============================] - 0s 19ms/step - loss: 930.0991 - val_loss: 1392.3854
Epoch 29/50
6/6 [==============================] - 0s 19ms/step - loss: 927.6165 - val_loss: 1392.1281
Epoch 30/50
6/6 [==============================] - 0s 21ms/step - loss: 925.6100 - val_loss: 1392.2528
Epoch 31/50
6/6 [==============================] - 0s 18ms/step - loss: 923.3600 - val_loss: 1393.1444
Epoch 32/50
6/6 [==============================] - 0s 23ms/step - loss: 921.6614 - val_loss: 1390.6005
Epoch 33/50
6/6 [==============================] - 0s 18ms/step - loss: 918.9308 - val_loss: 1390.4894
Epoch 34/50
6/6 [==============================] - 0s 19ms/step - loss: 917.4952 - val_loss: 1390.8105
Epoch 35/50
6/6 [==============================] - 0s 17ms/step - loss: 915.9363 - val_loss: 1391.8389
Epoch 36/50
6/6 [==============================] - 0s 18ms/step - loss: 914.2759 - val_loss: 1392.7709
Epoch 37/50
6/6 [==============================] - 0s 18ms/step - loss: 913.4161 - val_loss: 1393.4078
Epoch 38/50
6/6 [==============================] - 0s 20ms/step - loss: 911.9449 - val_loss: 1395.5868
Epoch 39/50
6/6 [==============================] - 0s 20ms/step - loss: 911.2664 - val_loss: 1398.1423
Epoch 40/50
6/6 [==============================] - 0s 17ms/step - loss: 909.3417 - val_loss: 1397.8804
Epoch 41/50
6/6 [==============================] - 0s 18ms/step - loss: 907.8469 - val_loss: 1397.1432
Epoch 42/50
6/6 [==============================] - 0s 18ms/step - loss: 907.6745 - val_loss: 1397.5305
Epoch 43/50
6/6 [==============================] - 0s 19ms/step - loss: 907.0493 - val_loss: 1398.7958
Epoch 44/50
6/6 [==============================] - 0s 17ms/step - loss: 905.5166 - val_loss: 1398.7401
Epoch 45/50
6/6 [==============================] - 0s 17ms/step - loss: 907.3170 - val_loss: 1398.5747
Epoch 46/50
6/6 [==============================] - 0s 18ms/step - loss: 905.3110 - val_loss: 1400.6897
Epoch 47/50
6/6 [==============================] - 0s 17ms/step - loss: 904.2448 - val_loss: 1401.4480
Epoch 48/50
6/6 [==============================] - 0s 17ms/step - loss: 903.7973 - val_loss: 1402.3052
Epoch 49/50
6/6 [==============================] - 0s 20ms/step - loss: 903.0704 - val_loss: 1405.0891
Epoch 50/50
6/6 [==============================] - 0s 17ms/step - loss: 902.3864 - val_loss: 1406.1875
2/2 [==============================] - 0s 10ms/step
Mean Squared Error on Test Data: 75.28
Prediction: 11.67, Actual: 8.55
Prediction: 14.16, Actual: 14.46
Prediction: 24.54, Actual: 8.50
Prediction: 7.47, Actual: 5.00
Prediction: 7.00, Actual: 2.79
Prediction: 2.88, Actual: 8.01
Prediction: 16.09, Actual: 14.75
Prediction: 25.52, Actual: 8.03
Prediction: 12.50, Actual: 2.21
Prediction: 11.93, Actual: 5.13

In [146]:
# Assuming 'model' is your trained CNN model
# Use X_test and y_test obtained from train_test_split

# Make predictions
y_pred = model.predict([X_test_weather, X_test_soil])

# Display some predictions and actual values
for i in range(10):  # Displaying first 10 predictions for illustration
    print(f"Prediction: {y_pred[i][0]:.2f}, Actual: {y[i]:.2f}")

2/2 [==============================] - 0s 10ms/step
Prediction: 0.01, Actual: 15.31
Prediction: 0.04, Actual: 18.41
Prediction: -0.13, Actual: 15.86
Prediction: -0.03, Actual: 25.09
Prediction: -0.01, Actual: 17.79
Prediction: 0.02, Actual: 18.21
Prediction: -0.13, Actual: 13.42
Prediction: -0.12, Actual: 24.53
Prediction: -0.01, Actual: 15.35
Prediction: -0.09, Actual: 25.34

In [148]:
y_test

array([ 8.55111111, 14.46173333,  8.49545454,  5.        ,  2.78695652,
        8.006     , 14.7518    ,  8.03333333,  2.20571429,  5.13461539,
       12.82      ,  5.11409091,  3.38259259, 22.43019608,  6.8968    ,
       20.33626667,  7.65      , 26.179     ,  5.65095238,  8.431     ,
        0.        , 13.5075    ,  9.482     ,  1.02714286,  1.9925    ,
        7.5872    , 19.35785714,  0.        , 25.34375   , 11.76805556,
       22.22444444, 16.14615385, 10.1544    ,  3.76      ,  2.37518518,
       15.68529412,  7.29703704,  8.02296296, 13.41823529, 28.464     ,
        0.        ,  8.01818182, 27.54      ,  9.8704    , 11.87676056,
       14.6       , 44.62      , 32.85966667,  6.59      ,  0.335     ,
       23.16333333,  7.25833333,  2.20714286, 14.99583333, 13.78428571,
       18.40181818])

In [149]:
y

array([1.53088889e+01, 1.84063158e+01, 1.58561111e+01, 2.50905263e+01,
       1.77862500e+01, 1.82145000e+01, 1.34182353e+01, 2.45289474e+01,
       1.53528571e+01, 2.53437500e+01, 1.84018182e+01, 1.96354545e+01,
       1.78454545e+01, 1.91209091e+01, 1.66590909e+01, 1.49958333e+01,
       2.10541667e+01, 2.21100000e+01, 3.81420000e+02, 4.46200000e+01,
       2.47572727e+02, 8.02680000e+01, 2.22244444e+01, 2.17675000e+01,
       1.01544000e+01, 9.87040000e+00, 1.11670370e+01, 1.13196154e+01,
       8.30461538e+00, 8.11407407e+00, 8.55111111e+00, 9.52416667e+00,
       6.71107143e+00, 1.02769231e+01, 5.26740741e+00, 9.71416667e+00,
       9.68407407e+00, 8.91269231e+00, 5.87851852e+00, 9.08814815e+00,
       7.23740741e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       2.66050000e+01, 2.66927778e+01, 2.60365000e+01, 2.46695652e+01,
       2.69650000e+01, 2.33210000e+01, 2.20940000e+01, 3.07339130e+01,
       2.79612500e+01, 2.81872414e+01, 2.65060000e+01, 2.69415385e+01,
       2.61790000e+01, 2.63870370e+01, 2.65553333e+01, 2.87637931e+01,
       2.51940000e+01, 2.77052000e+01, 2.75400000e+01, 2.88925000e+01,
       2.84640000e+01, 1.88266667e+01, 3.18137500e+01, 1.50514286e+01,
       2.68455556e+01, 1.35075000e+01, 2.89588889e+01, 1.56852941e+01,
       3.11192593e+01, 1.81583333e+01, 3.46142857e+01, 1.28200000e+01,
       2.81551852e+01, 2.19547826e+01, 3.28596667e+01, 1.78653077e+02,
       1.93578571e+01, 1.99564286e+01, 1.67075000e+01, 2.59690909e+01,
       2.24571429e+01, 2.25604762e+01, 2.31633333e+01, 2.48300000e+01,
       2.39766667e+01, 2.47386364e+01, 2.45418182e+01, 1.20858000e+01,
       1.31430000e+01, 1.47518000e+01, 1.77412000e+01, 1.97530000e+01,
       1.72543137e+01, 2.24301961e+01, 2.39613726e+01, 2.30056863e+01,
       2.30839216e+01, 2.32174510e+01, 1.17172857e+01, 1.69332394e+01,
       1.37182609e+01, 1.83990141e+01, 2.28756944e+01, 1.07907042e+01,
       2.30008108e+01, 1.08554930e+01, 2.03362667e+01, 1.33398630e+01,
       1.52939726e+01, 1.44189041e+01, 1.17680556e+01, 1.31457746e+01,
       1.39327397e+01, 1.32854286e+01, 1.45101351e+01, 1.41459155e+01,
       1.58014667e+01, 1.18767606e+01, 1.44617333e+01, 1.61510606e+01,
       7.00000000e+00, 7.00000000e+00, 1.80000000e+01, 1.80000000e+01,
       1.80000000e+01, 1.80000000e+01, 9.00000000e+00, 9.67000000e+00,
       6.00000000e+00, 5.00000000e+00, 5.00000000e+00, 5.00000000e+00,
       3.00000000e+00, 6.00000000e+00, 5.00000000e+00, 5.00000000e+00,
       5.13461539e+00, 4.62583333e+00, 5.69583333e+00, 5.80846154e+00,
       5.80916667e+00, 5.75416667e+00, 5.74416667e+00, 5.50583333e+00,
       7.25833333e+00, 1.64400000e+01, 1.61438462e+01, 1.61461539e+01,
       1.41846154e+01, 8.77571429e+00, 1.07086487e+01, 1.37842857e+01,
       1.17691667e+01, 1.26052632e+01, 3.00000000e+00, 4.00000000e+00,
       1.46000000e+01, 3.63000000e+00, 7.24000000e+00, 4.29250000e+00,
       3.76000000e+00, 1.22141379e+01, 4.96434783e+00, 4.76380952e+00,
       6.59000000e+00, 6.49950000e+00, 6.11782609e+00, 2.17695652e+01,
       6.09375000e+00, 8.01818182e+00, 7.85666667e+00, 5.79500000e+00,
       5.74400000e+00, 9.19800000e+00, 9.48200000e+00, 9.46666667e+00,
       9.47100000e+00, 9.95400000e+00, 6.06000000e+00, 6.00100000e+00,
       7.29000000e+00, 5.71760000e+00, 6.77136364e+00, 5.57952381e+00,
       4.29680000e+00, 7.08950000e+00, 7.65000000e+00, 6.89680000e+00,
       7.21904762e+00, 1.05980952e+01, 5.51840000e+00, 8.49545454e+00,
       6.21428571e+00, 5.53880000e+00, 7.05666667e+00, 5.65095238e+00,
       6.96880000e+00, 7.31260870e+00, 8.03333333e+00, 5.48000000e+00,
       7.59909091e+00, 5.11409091e+00, 4.71680000e+00, 6.20708333e+00,
       4.53666667e+00, 7.58720000e+00, 1.31262500e+01, 1.42069565e+01,
       1.12825000e+01, 1.34941667e+01, 1.18077273e+01, 8.40240000e+00,
       1.20608333e+01, 1.03610000e+01, 8.25615385e+00, 1.32188461e+01,
       1.13733333e+01, 2.38148148e+00, 2.37518518e+00, 2.30851852e+00,
       3.02962963e+00, 3.26518518e+00, 3.34703704e+00, 3.38259259e+00,
       6.91629630e+00, 7.14111111e+00, 7.29703704e+00, 7.45518519e+00,
       8.02296296e+00, 8.00600000e+00, 8.33100000e+00, 8.42700000e+00,
       8.42700000e+00, 8.42900000e+00, 8.43100000e+00, 5.27312500e+00,
       4.29266667e+00, 5.32625000e+00, 4.76478261e+00, 3.12041667e+00,
       2.03300000e+01, 1.34600000e+01, 6.47360000e+00, 8.96086956e+00,
       5.97304348e+00, 2.78695652e+00, 6.25086957e+00, 5.64181818e+00,
       5.07080000e+00, 2.44750000e+00, 1.02714286e+00, 2.41333333e+00,
       9.84285714e-01, 2.20714286e+00, 9.32500000e-01, 2.20571429e+00,
       9.40000000e-01, 2.39142857e+00, 2.39142857e+00, 8.40000000e-01,
       6.00000000e-01, 2.40500000e+00, 5.00000000e-01, 2.42555556e+00,
       5.00000000e-01, 2.40000000e+00, 5.00000000e-01, 1.99250000e+00,
       3.35000000e-01, 2.42666667e+00])

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
import tensorflow as tf
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Input, Conv1D, Dense, Flatten

# Assuming 'df' is your DataFrame with the provided data
# Columns: AvgTemp, AvgHumidity, Annual_Rainfall, Fertilizer, Pesticide, Yield

# Select relevant features for training
all_features = ['AvgTemp', 'AvgHumidity', 'Annual_Rainfall', 'Fertilizer', 'Pesticide']

# Extract features and target variable
X = df[all_features].values
y = df['Yield'].values

# Normalize numerical features
scaler = StandardScaler()
X = scaler.fit_transform(X)

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

# Define CNN model
input_layer = Input(shape=(X_train.shape[1], 1))
conv1d_layer = Conv1D(32, kernel_size=3, activation='relu')(input_layer)
flatten_layer = Flatten()(conv1d_layer)
fc_layer = Dense(64, activation='relu')(flatten_layer)

# Output layer for yield prediction
output_layer = Dense(1, activation='linear')(fc_layer)

# Create the model
model = Model(inputs=input_layer, outputs=output_layer)

# Compile the model
optimizer = tf.keras.optimizers.Adam(learning_rate=0.001)
model.compile(optimizer=optimizer, loss='mean_squared_error')

# Display the model summary
model.summary()

# Train the model
model.fit(X_train, y_train, epochs=50, batch_size=32, validation_split=0.2)

# Test the model
y_pred = model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error on Test Data: {mse:.2f}")

# Display some predictions and actual values
for i in range(10):  # Displaying first 10 predictions for illustration
    print(f"Prediction: {y_pred[i][0]:.2f}, Actual: {y_test[i]:.2f}")

Model: "model"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_1 (InputLayer)        [(None, 5, 1)]            0

 conv1d (Conv1D)             (None, 3, 32)             128

 flatten (Flatten)           (None, 96)                0

 dense (Dense)               (None, 64)                6208

 dense_1 (Dense)             (None, 1)                 65

=================================================================
Total params: 6,401
Trainable params: 6,401
Non-trainable params: 0
_________________________________________________________________
Epoch 1/50